@{
    Layout = null;
    var pageTitle = Convert.ToString(Session["Project_name"]);
    if (pageTitle == "null" || pageTitle == null || pageTitle == "")
    {
        pageTitle = "Untitled";
    }
    else
    {
        pageTitle = Convert.ToString(Session["Project_name"]);
    }
    string accname = null; if (Session["UserName"] != null) { accname = Session["UserName"].ToString().Replace('.', '•'); }
    string strLoginId = "0";
    string Lang = "";
    if (Session["UserID"] != null)
    {
        strLoginId = Session["UserID"].ToString();
    }
    if (Session["LanguageId"] != null)
    {
        Lang = Session["LanguageId"].ToString();
    }    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@pageTitle</title>
    <link rel="shortcut icon" href="~/CCMSIMAGES/IconImages/9D5CA9DAF212B8D2/img/Icon.jpeg?v=1.0.1" />
    <!-- Initialize design files and third party style plugins -->
    <link href="~/Themes/Greeno/font/dashboard/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/font/dashboard/material-iconfont/material-icons.css" rel="stylesheet" />
    <link href="~/Themes/rjs/js/plugins/js-tooltip/tooltip.min.css" rel="stylesheet" />
    <script src="~/Themes/rjs/js/plugins/js-tooltip/tooltip.min.js"></script>
    <script src="~/Themes/rjs/js/app/r-vul.js"></script>
    <!-- Required Jquery link for tooltip initialization -->
    <script src="~/Themes/Greeno/ltr/assets/js/Streamingserver/js/jquery-3.7.1.min.js"></script>
    <script src="~/Themes/Content/plugins/new/jquery-migrate-3.5.2/jquery-migrate.min.js"></script>
    <script src="~/Themes/Content/assets/custom/plugins/ScrollNew/perfect-scrollbar.js?v=1.0.0"></script>
    <script src="~/Themes/rjs/js/plugins/purify/purify.min.js"></script>
    <script src="~/Themes/rjs/js/plugins/daterangepicker/new/moment.min.js"></script>
    <script src="~/Themes/rjs/js/plugins/daterangepicker/daterangepicker.min.js"></script>
    <link href="~/Themes/Content/plugins/daterangepicker-Demo/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Themes/Content/assets/custom/plugins/angular-daterangepicker/daterangepicker.css?v=2.2" rel="stylesheet" />
    <link href="~/Themes/Content/assets/custom/plugins/angular-daterangepicker/datepicker_custom.css?v=2.2" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/streamingserver/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/newVersion.css?v=3.0" rel="stylesheet" />
    <link href="~/Themes/Content/plugins/noty/themes/animate.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/main.css?v=1.0.3" rel="stylesheet" type="text/css" />
    <link href="~/Themes/Greeno/ltr/assets/css/responsive.css?v=1.0.1" rel="stylesheet" type="text/css" />
    <link href="~/Themes/Content/assets/js/sm-blue.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/fontawesome/font-awesome.min.css?v=1.0.1" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/AdminLTE/AdminLTE.min.css?v=2.5.5" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/AdminLTE/_all-skins.min.css?v=1.0.1" rel="stylesheet" />


    <link href="~/Themes/Greeno/common/css/angular-material/customang-material.min.css?v=1" rel="stylesheet" />
    <link href="~/Themes/Greeno/common/css/angular-material/customang-material-customize.css?v=1" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/common_style.css?v=1.0.1" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/common_style_responsive.css?v=1.0.1" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/angular/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/angular/home-dashboard.css?v=2.1" rel="stylesheet" />
    <!-- Custome style sheets for page design List and Add Popup -->
    @{
        if (Convert.ToString(Session["LanguageId"]) == "2")
        {
            <link href="~/Themes/Greeno/rtl/assets/css/dashboard/alarm-report.css?v=2" rel="stylesheet" />
            <link href="~/Themes/rjs/rtl/css/Liststyle-Activitylog.css?v=4" rel="stylesheet" />
        }
        else
        {
            <link href="~/Themes/Greeno/ltr/assets/css/dashboard/alarm-report.css?v=2" rel="stylesheet" />
            <link href="~/Themes/rjs/ltr/css/Liststyle-Activitylog.css?v=4" rel="stylesheet" />
        }
    }
    <!-- Using React JS for third party link in react -->
    <script src="~/Themes/rjs/js/plugins/production/react.production.min.js"></script>
    <script src="~/Themes/rjs/js/plugins/production/react-dom.production.min.js"></script>
    <script src="~/Themes/rjs/js/plugins/babel.min.js"></script>
    <!-- Refer JS file for Component based rendering html and scripts List and Add popup -->
    <script>
        var str_nme = 'na' + 'me';
        var str_dta = 'da' + 'ta';
        var GetantiForgeryToken = '@Web.UI.AntiforgeryTokenValidation.CustomAntiForgeryTokenAttribute.GetAntiForgeryToken()';
        var baseUrl = "@Session["_siteNmUl"]";
        var LanguageId = "@Session["LanguageId"].ToString()";
        var accname = '@accname';
        accname = accname[str_rplc]('•', '.');
        var internalname = '@ViewBag.InternalName';
        isLoginAccname = "@Session["OrganizationUserTypeName"].ToString()";
        var strid="@strLoginId"
var ToggleNavigation = "@T("CommonTerms", "ToggleNavigation")";
var Signout = "@T("CommonTerms", "Signout")";
var ViewProfiledata = "@T("CommonTerms", "ViewProfile")";
var Requesting = "@T("CommonTerms", "Requesting")";


var getstrLoginId = "@strLoginId", getLang = "@Lang", getPageTitle = '@pageTitle', getEnableAlarmGuardData = '@Convert.ToString(Session["ISNeedAlarmGuard"])', getEnableEGuardData = '@Convert.ToString(Session["ISNeedEGuard"])', getEnableEGuardDataforbuilding = '@Convert.ToString(Session["ISNeedEGuardForBuilding"])';
var Lang = @Session["LanguageId"].ToString() == 2 ? 'ar' : 'en';
var cancelpromise = {};
function delayAnimateCall(ms, vari) {    // Function for delay request animation frame
return new Promise(resolve => {
const start = performance.now();
function checkTime() {
if (performance.now() - start >= ms) {
resolve();
} else {
cancelpromise[vari] = requestAnimationFrame(checkTime);
}
}
cancelpromise[vari] = requestAnimationFrame(checkTime);
});
}
    </script>
    <script src="~/Themes/Content/plugins/htmlcanvas/html2canvas.js?v=2"></script>
    <script src="~/Themes/Content/assets/js/dashboard/PDF/jspdf.min.js"></script>
    <script src="~/Themes/Content/assets/js/dashboard/PDF/jspdf.umd.js?v=1"></script>
    <script src="~/Themes/Content/assets/js/dashboard/PDF/Amiri-Bold-normal.js"></script>
    <script src="~/Themes/Content/assets/js/dashboard/PDF/jspdf.plugin.autotable.js"></script>
    <script src="~/Themes/Content/assets/js/dashboard/Kendo/jszip.min.js"></script>
    <link href="~/Themes/Greeno/ltr/assets/css/dashboard/Kendo-2022/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/dashboard/Kendo-2022/kendo.default.min.css" rel="stylesheet" />
    <script src="~/Themes/Greeno/ltr/assets/css/dashboard/Kendo-2022/kendo.all.min.js" async defer></script>

    <script src="~/Themes/rjs/js/app/fetch-custom.js?v=2"></script>
    
</head>
<body class="skin-blue-light sidebar-mini pace-done sidebar-collapse blacktheme-header">
    <section class="rjssection_box">
        <input class="hide" id="HdfLayout" value='ltr' />
        <div class="pace  pace-inactive">
            <div data-progress="99" data-progress-text="100%" style="width: 100%;" class="pace-progress">
                <div class="pace-progress-inner"></div>
            </div>
            <div class="pace-activity"></div>
        </div>
        <div class="wrapper">
            <div class="pace  pace-inactive">
                <div data-progress="99" data-progress-text="100%" style="width: 100%;" class="pace-progress">
                    <div class="pace-progress-inner"></div>
                </div>
                <div class="pace-activity"></div>
            </div>

            <header id="mainheader" class="main-header">
                <!-- Logo -->
                <a class="logo" href="#">
                    <img alt="logo" src="~/CCMSIMAGES/MenuImages/9D5CA9DAF212B8D2/img/Menu.jpeg" class="MainImage">
                </a>
                <!-- ./Logo -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle bs-tooltip" data-placement="bottom" data-original-title="@T(" CommonTerms", "ToggleNavigation" )" data-toggle="offcanvas" role="button" disabled="disabled">
                        <span class="sr-only">@T("CommonTerms", "ToggleNavigation")</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">@T("CommonTerms", "ToggleNavigation")</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="layroot_render" class="body_container rootrender_container"></div>
                </nav>
            </header>
            <aside class="main-sidebar">
                @if (ViewBag.InternalName != null)
                {
                    <section class="sidebarmenu" id="sidebar-content">
                        <ul class="sidebar-menu" id="nav">
                            @if (ViewBag.Profile == null)
                            {
                                @Html.Action("SideMenu", "Common", new { InternalName = ViewBag.InternalName })
                            }
                        </ul>
                    </section>
                }
            </aside>
            <div class="content-wrapper">
                <div class="container">
                    <div id="root_render" class="body_container rootrender_container"></div>
                </div>
            </div>
            <div id="toTop" class="hidett">
                <span title="" data-original-title="" class="headerTab btn bs-tooltip"><i class="icon-arrow-up" id="totopIcon"></i></span>
            </div>
            <div id="loaderdialog" data-backdrop="static" data-keyboard="false" aria-hidden="true" aria-labelledby="lLable" role="dialog" class="modal">
                <div class="vertical-aligment-helper">
                    <div class="vertical-align-center">
                        <div class="modal-dialog modal-lg" style="width: 300px;">
                            <div class="modal-content" style="height: 15px">
                                <div class="progress  progress-striped active">
                                    <div class="progress-bar  progress-bar-warning" style="width: 100%;">
                                        @T("CommonTerms", "Requesting")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="rightclick">
            <ul id='context-menu1' class="umapicon"></ul>
        </div>
    </section>

    <script src="~/themes/rjs/js/app/rjslayout.js?v=1" type="text/babel"></script>
    <script src="~/Themes/rjs/js/app/ActivityLog/Activity-Log.js?v=3" type="text/babel"></script>
    <script src="~/Themes/rjs/js/app/app.js?v=2" type="text/babel"></script>
</body>
</html>
