@model Web.UI.Models.Auth.UserMasterDataModel
@using CaptchaMvc.HtmlHelpers;
@using CaptchaMvc.Interface;
@{
    Layout = null;
}
<meta name="XSRF-TOKEN" content="XSRF-TOKEN" />
<meta name="RequestVerificationToken" content="RequestVerificationToken" />
<!DOCTYPE html>
<html lang="en">
<head>
    @{
        Session["IsRTL"] = Session["ISRTLLTR"];
        //added by aadalarasu 19-aug-2022
        var Project_name = Convert.ToString(Session["Project_name"]);
        if (Project_name == "null" || Project_name == null || Project_name == "")
        {
            Project_name = "Untitled";
        }
        else
        {
            Project_name = Convert.ToString(Session["Project_name"]);
        }
        //end by aadalarasu 19-aug-2022
        String isaccname = ""; if (Session["UserName"] != null) { isaccname = Session["UserName"].ToString(); }
        String controllername = ViewBag.controllername;
    }
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>@Project_name</title>
    <link rel="shortcut icon" href="~/CCMSIMAGES/IconImages/9D5CA9DAF212B8D2/img/Icon.jpeg" />
    @*<link href="~/Themes/Greeno/ltr/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Themes/Greeno/ltr/assets/css/streamingserver/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/newlogin_ssp.css?v=1" rel="stylesheet" />
    <link href="~/Themes/Greeno/ltr/assets/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Themes/Greeno/ltr/assets/css/newlogin.css?v=1.1" rel="stylesheet" />
    <link rel="stylesheet" href="~/Themes/Greeno/ltr/assets/css/fontawesome/font-awesome.min.css">
    <script src="~/Themes/Content/plugins/new/Jquery.3.7.1/jquery.min.js"></script>
    <script src="~/Themes/Content/plugins/jsencrypt/jsencrypt.min.js"></script>
    <script src="~/Themes/Content/plugins/new/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Themes/Content/plugins/cookie/jquery.kukie.min.js"></script>
    <link href="~/Themes/Greeno/ltr/assets/css/notifyCss/notify.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Themes/Content/plugins/uniform/jquery.uniform.min.js"></script>
    <script>
        var vulTemp_data = 'write_attr_append_innerHTML_add_src_html_wrap_parent_append_replace_random_location_href'
        var strTemp_wte = vulTemp_data.split('_')[0];
        var strTemp_atr = vulTemp_data.split('_')[1];
        var strTemp_apnd = vulTemp_data.split('_')[2];
        var strTemp_innhtm = vulTemp_data.split('_')[3];
        var strTemp_add = vulTemp_data.split('_')[4];
        var strTemp_src = vulTemp_data.split('_')[5];
        var strTemp_htm = vulTemp_data.split('_')[6];
        var strTemp_wrap = vulTemp_data.split('_')[7];
        var strTemp_prnt = vulTemp_data.split('_')[8];
        var strTemp_apnd = vulTemp_data.split('_')[9];
        var strTemp_rplc = vulTemp_data.split('_')[10];
        var strTemp_rand = vulTemp_data.split('_')[11];
        var strTemp_loc = vulTemp_data.split('_')[12];
        var strTemp_hrf = vulTemp_data.split('_')[13];
        var strTemp_localsto = 'local' + 'Storage';
        var strTemp_sessionsto = 'sess' + 'ionS' + 'torage';
    </script>
    <script src="~/Themes/Content/assets/js/jquery.notify.js?v=1"></script>
    <script type="text/javascript" src="~/Themes/Content/assets/js/login.js?v=2"></script>
    <script src="~/Themes/Content/assets/js/dashboard/e-map/ThumbnailTooltip/tooltipster.bundle.min.js"></script>
    <link href="~/Themes/Content/assets/js/dashboard/e-map/ThumbnailTooltip/tooltipster.bundle.min.css" rel="stylesheet" />
    <link href="~/Themes/Content/assets/js/dashboard/e-map/ThumbnailTooltip/tooltipster-custom.css" rel="stylesheet" />
    <style>
        #newlogin #chkuae_error {
            display: inline-block;
            float: left;
            width: 600px;
            font-size: 15px;
            margin-top: 10px;
            font-family: 'Roboto-Medium';
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    </style>
    <script>
        var GetantiForgeryToken = '@Web.UI.AntiforgeryTokenValidation.CustomAntiForgeryTokenAttribute.GetAntiForgeryToken()';
        var baseUrl = "@Session["_siteNmUl"]";
        //Added by srimathi for cross-site request forgery burp suite issue fix jquery
        var csrfToken = jQuery('meta[na' + 'me="XSRF-TOKEN"]')[strTemp_atr]('content');
        var csrfReq = jQuery('meta[na' + 'me="RequestVerificationToken"]')[strTemp_atr]('content')
        var csrFinal = csrfToken || csrfReq;
        function GetBaseUrl() {
            return baseUrl;
        }
        var cancelpromise = {};
        function delayAnimateCall(ms, vari) {    // Function for delay request animation frame
            return new Promise(resolve => {
                const start = performance.now();
                function checkTime() {
                    if (performance.now() - start >= ms) {
                        resolve();
                    } else {
                        cancelpromise[vari] = requestAnimationFrame(checkTime);
                    }
                }
                cancelpromise[vari] = requestAnimationFrame(checkTime);
            });
        }
        $.ajaxSetup({
            headers:
            {
                "X-Requested-With": 'XMLHttpRequest',
                "RequestVerificationToken": GetantiForgeryToken
            },
            dataFilter: function (data) {
            if (data == "") {
                data = null;
            }
            return data;
            },
            beforeSend: function (xhr) {
                if (csrFinal) {
                    xhr.setRequestHeader('X-XSRF-TOKEN', csrFinal);
                }
            }

        })
        var token = jQuery('input[na' +'me="__RequestVerificationToken"]').val();
        var headers = {};
        headers["__RequestVerificationToken"] = token;
        function myFunction() {
            var inputtxt = document.getElementById("txtpwd");
            var tooltiptxt = document.getElementById("show-hide-pwd-txt");
            var showhideimg = document.getElementById("show-pwd-img");
            if (inputtxt.type == "password") {
                inputtxt.type = "text";
                tooltiptxt[strTemp_innhtm]= "Hide password";
                showhideimg.classList[strTemp_add]("password-hide-img");

            } else {
                inputtxt.type = "password";
                tooltiptxt[strTemp_innhtm]= "Show password";
                showhideimg.classList.remove("password-hide-img");
            }
            inputtxt.focus();
        }
        jQuery(document).ready(function () {
            jQuery(document).on("mouseover", '#chkuae_error', function (e) {
                jQuery(this).tooltipster({
                    side: 'bottom',
                    delay: 0,
                    updateAnimation: false,
                    theme: 'custom-tooltip',
                    functionPosition: function (instance, helper, position) {
                        if (position.coord.left <= 395 && jQuery('body').hasClass('openLeftDetails')) {
                            position.coord.left = 410;
                            return position;
                        }
                    },
                })
                if (jQuery(this).prop('scrollWidth') > jQuery(this).prop('offsetWidth')) {
                    var name = jQuery(this).text();
                    jQuery(this).tooltipster('content', name);
                    jQuery(this).tooltipster('show');
                }
                else {
                    jQuery(this).tooltipster('content', '');
                    jQuery(this).tooltipster('destroy');
                }
            });

            jQuery(window).on("load", function () {
                var usertext = jQuery("#Username").val().trim();
                var pwdtext = jQuery("#txtpwd").val().trim();
                window[strTemp_localsto].captcha = '';
                if (usertext != "") {
                    jQuery("#Username").parents(".Vginputbox").find(".usernamePlaceholder").addClass("placeholdertop");
                }
                else jQuery("#Username").parents(".Vginputbox").find(".usernamePlaceholder").removeClass("placeholdertop");

                if (pwdtext != "") {
                    jQuery("#txtpwd").parents(".Vginputbox").find(".passwordPlaceholder").addClass("placeholdertop");
                }
                else jQuery("#txtpwd").parents(".Vginputbox").find(".passwordPlaceholder").removeClass("placeholdertop");
                jQuery('.captcha-block .vgcaptcha').hide();
                jQuery("#checkcaptcha").hide();
            })
            jQuery('.captcha-block .vgcaptcha').hide();
            jQuery("#checkcaptcha").hide();
            jQuery(document).on("click", ".vglangdrop", function (e) {
                jQuery(".vghideDrop").show();
                e.stopImmediatePropagation();
            });

            jQuery(document).on("click", "#prev", function () {
                if ('@ViewBag.enableuaepass' == "True") {   // Added by Ambareesh 20240704
                    jQuery(".UAEPassBtn").show();
                }
                else {
                    jQuery(".UAEPassBtn").hide();
                }
                jQuery("#QuestionAnswerdiv").hide();
                jQuery(".vghide:not('.captcha-block')").show("slide", { direction: "left" }, 200);
                jQuery(".vgLangs").show();
                jQuery(".vghide").find("#txtpwd").val("");
                jQuery('.captcha-block').removeClass('vgerror');
                jQuery('.captcha-input-div').removeClass('vgerror');
                jQuery(".field-validation-error").hide();
                if ('@ViewBag.captcha' == "True") {
                    jQuery(".captcha-block").show("slide", { direction: "left" }, 200);
                    jQuery('#newlogin').removeClass('noCaptcha');
                }
                else {
                    jQuery('.captcha-block').css('display', 'none');
                    jQuery('#newlogin').addClass('noCaptcha');
                }
                jQuery("#txtSecurityAnswer").val("");//Added by srimathi for back to sign in answer field clear work 20240710
                return false;
            })

            jQuery(document).on("click", ".vglang", function () {   //  Change Language Logic(Priyadharshini - 20181220)
                var pageURL = baseUrl + 'Auth/SetLanguage?RL=' + jQuery(this).children()[strTemp_atr]('data-value') + '&ActionString=' + baseUrl + '&RTL=' + jQuery(this).children()[strTemp_atr]('data-IsRtl');
                var newA = document.createElement('a');
                newA.setAttribute('href', pageURL);
                newA.click();
            });

            jQuery(document).on("click", function () {
                jQuery(".vghideDrop:visible").hide();
                jQuery(".vgforhideDrop").hide();
                var usertext = jQuery("#Username").val().trim();
                var pwdtext = jQuery("#txtpwd").val().trim();
                var forgor_pwd = jQuery("#txtSecurityAnswer").val().trim();
                if (usertext != "") {
                    jQuery("#Username").parents(".Vginputbox").find(".usernamePlaceholder").addClass("placeholdertop");
                }
                else jQuery("#Username").parents(".Vginputbox").find(".usernamePlaceholder").removeClass("placeholdertop");

                if (pwdtext != "") {
                    jQuery("#txtpwd").parents(".Vginputbox").find(".passwordPlaceholder").addClass("placeholdertop");
                }
                else jQuery("#txtpwd").parents(".Vginputbox").find(".passwordPlaceholder").removeClass("placeholdertop");
                if (forgor_pwd != "") jQuery("#txtSecurityAnswer").parents(".Vginputbox").find(".forgotPlaceholder").addClass("placeholdertop");
                else jQuery("#txtSecurityAnswer").parents(".Vginputbox").find(".forgotPlaceholder").removeClass("placeholdertop");
            });

            jQuery(document).on("change", "input.form-control", function () {
                jQuery("input.form-control").each(function () {
                    var text = jQuery(this).val().trim();
                    if (text != "") {
                        jQuery(this).parents(".divpop").find(".Vgshadow").prev().addClass("placeholdertop");
                    }
                });
            })

            jQuery(document).on("focus", "input.form-control", function () {

                jQuery(this).parents(".divpop").find(".Vgshadow").prev().addClass("placeholdertop");

            })

            jQuery(document).on("focusout", "input.form-control", function () {
                var text = jQuery(this).val().trim();
                if (text != "") {
                    jQuery(this).parents(".divpop").find(".Vgshadow").prev().addClass("placeholdertop");
                    return false;
                }
                jQuery(this).parents(".divpop").find(".Vgshadow").prev().removeClass("placeholdertop");
            })

            jQuery(document).on("click", "#prev", function () {
                jQuery("#QuestionAnswerdiv").hide();
                jQuery(".vghide:not('.captcha-block')").show("slide", { direction: "left" }, 200);
                jQuery(".vgLangs").show();
                if ('@ViewBag.captcha' == "True") {
                    jQuery(".captcha-block").show("slide", { direction: "left" }, 200);
                    jQuery('#newlogin').removeClass('noCaptcha');
                }
                else {
                    jQuery('.captcha-block').css('display', 'none');
                    jQuery('#newlogin').addClass('noCaptcha');
                }
            })
            var forgetnotify = jQuery("#isforgot")[strTemp_atr]("data-attr");
            if (forgetnotify != '' && forgetnotify != null && forgetnotify != undefined) {
                if (forgetnotify == 'True') {
                   CustomNotify("Reset password link successfully sent to your mail", 'success');
                   jQuery('.newnotify').addClass('success');
                }
                else {
                    if (forgetnotify == 'CannotSend') {
                        CustomNotify("Cannot send password through email…Email settings is not configured", 'error');
                    }
                    else if (forgetnotify == 'CannotSendSMS') {
                        CustomNotify("Cannot send password through SMS…SMS settings is not configured", 'error');

                    }
                    else if (forgetnotify == 'InvalidAnswer') {
                        CustomNotify("Answer you have provided is incorrect", 'error');

                    }
                }
            }
            var PrivateKeyVal = '';
            $.ajax({
                url: '@Url.Action("GetPublicKeyfordecryption")',
                type: 'GET',
                data: {},
                success: function (data) {
                    PrivateKeyVal = data;
                },
                complete: function () {
                    var accnametext = jQuery("#forgotaccnm")[strTemp_atr]("data-attr");
                    var decryptor = new JSEncrypt();
                    // Example private key (replace with your actual private key)
                    var privateKey = PrivateKeyVal;
                    // Set the private key
                    decryptor.setPrivateKey(privateKey);
                    // Decrypt the accname
                    var encryptedPassword = decryptor.decrypt(accnametext);
                    var forgotaccnms = encryptedPassword;
                    if (forgotaccnms != '' && forgotaccnms != null && forgotaccnms != undefined) {
                        jQuery("#Username").val(forgotaccnms);
                    }
                     var encryptedUAEError = decryptor.decrypt('@ViewBag.UAEPASSError');
                     var UAEPASSError = encryptedUAEError;
                     if (UAEPASSError != "" && UAEPASSError != null && UAEPASSError != undefined && '@ViewBag.enableuaepass' == "True") {
                         jQuery("#chkuae_error").show();
                         jQuery("#UAEPASSErrMsg").text(UAEPASSError);
                     }
                     else if ('@ViewBag.UserProfileNotFoundError' != "" && '@ViewBag.enableuaepass' =="True") {
                         jQuery("#chkuae_error").show();
                         jQuery("#UAEPASSErrMsg").text('@ViewBag.UserProfileNotFoundError');
                     }
                     if ('@ViewBag.enableuaepass' == "True" && '@ViewBag.disablevgportallogin' =="True") {
                         jQuery('.Login_virtual').hide();
                         jQuery('.Virtual_container').hide();
                     }

                }
            });

            jQuery(document).on("click", ".submit.btn:not('.call_newsignclick')", function () {
                window[strTemp_sessionsto].setItem("pagekey", "");
                jQuery('.captcha-block .vgcaptcha').hide();
                jQuery("#checkcaptcha").hide();
                jQuery("input.form-control").each(function () {
                    var currentelemnt = jQuery(this),
                    currentelemnt_text = currentelemnt.val().trim();
                    if (currentelemnt_text == "") {
                        currentelemnt.parents(".divpop").addClass("vgerror");
                        currentelemnt.parents(".divpop").find(".vgerrormsg").show();
                    }
                    else {
                        currentelemnt.parents(".divpop").removeClass("vgerror");
                        currentelemnt.parents(".divpop").find(".vgerrormsg").hide();
                    }
                });
                var usertext = jQuery("#Username").val().trim();
                var pwdtext = jQuery("#txtpwd").val().trim();
                if (usertext == "" && pwdtext == "") {
                    jQuery("#checkuser").hide();
                    jQuery("#Username").focus();
                    return false;
                }
                if (usertext == "" && pwdtext != "") { jQuery("#Username").focus(); jQuery("#checkuser").hide(); return false; }
                if (usertext != "" && pwdtext == "") {
                    jQuery("#txtpwd").focus();
                    if ('@ViewBag.captcha' == "True") {
                        captchatext = jQuery("#CaptchaInputText").val().trim(); captchatext = captchatext != '' ? captchatext.toUpperCase() : '';
                        if ((captchatext == "" || captchatext == undefined) && jQuery('.form-group.captcha-block:visible').length == 1) {
                            jQuery('.captcha-block .vgcaptcha').show();
                        }
                    }
                    return false;
                }
                jQuery("#checkcaptcha").hide();
                if ('@ViewBag.captcha' == "True") {
                    var captchatext = "";
                    captchatext = jQuery("#CaptchaInputText").val().trim(); captchatext = captchatext != '' ? captchatext.toUpperCase() : '';
                    if ((captchatext == "" || captchatext == undefined) && jQuery('.form-group.captcha-block:visible').length == 1) {
                        jQuery('.vgcaptcha.vgerrormsg .txtcaptcha').text('Captcha should not be empty');
                        jQuery("#CaptchaInputText").focus();
                        jQuery('.captcha-block .vgcaptcha').show();
                        return false;
                    }
                    else if (captchatext != Code && captchatext != '' && captchatext != undefined) {
                        jQuery("#CaptchaInputText").closest(".divpop").addClass("vgerror");
                        jQuery('.vgcaptcha.vgerrormsg .txtcaptcha').text('Please enter valid captcha');
                        jQuery("#CaptchaInputText").focus();
                        jQuery('.captcha-block .vgcaptcha').show();
                        captchatext = "";
                        jQuery("#CaptchaInputText").val(captchatext);
                        Refreshcaptcha();
                        return false;
                    }
                }
                jQuery("#txtpwd").focus();
            });

            if ('@ViewBag.captcha' == "True") {
                jQuery('.captcha-block').show();
                jQuery('#newlogin').removeClass('noCaptcha');
            }
            else {
                jQuery('.captcha-block').hide();
                jQuery('#newlogin').addClass('noCaptcha');
            }
            jQuery('.newnotify').removeClass('warning');
            jQuery('.captcha-block').removeClass('vgerror');
            jQuery('.captcha-block').find('.vgcaptcha').hide();
            if ('@TempData["Notification"]' != '' && '@TempData["Notification"]' != null) {
                 CustomNotify('@TempData["Notification"]', 'warning');
                 if ('@TempData["Notification"]' == "Your account has been blocked due to unusual activity being detected. Please contact administrator to unblock your account")
                     jQuery('.newnotify').addClass('warning');
                 if ('@TempData["Notification"]'.split('.')[0] == "Your account has been blocked due to unusual activity being detected")
                     jQuery('.newnotify').addClass('warning');
                 var notifyClass = jQuery('.newnotify.customTheme .colorful-inner').children('i')[strTemp_atr]('class');
                 jQuery('.newnotify.customTheme .colorful-inner').empty()[strTemp_apnd]('<i class="' + notifyClass +'"></i><span class="icon_txt">'+ '@TempData["Notification"]' +'</span>');
            }
            if (document.getElementById("chkVirtual").checked) {
                document.getElementById("chkVirtual").checked = false;
            }
            jQuery(".animated").removeClass("swing").addClass("swing");
            var getNotify = '@TempData["InvalidUser"]';
            if (getNotify != "") {
            var dataSplit = getNotify.split('$');
            if (dataSplit[0] == "2") {
                CustomNotify(dataSplit[1], 'error');
                jQuery('.newnotify').addClass('warning');
            }
            else if (dataSplit[0] == "3") {
                CustomNotify(dataSplit[1], 'error');
                jQuery('.newnotify').addClass('warning');
            }
            else if (dataSplit[0] == "4") {
                CustomNotify(dataSplit[1], 'error');
                jQuery('.newnotify').addClass('warning');
            }
        }

            var global_lang = 'En';
            "use strict";
            Login.init();
            jQuery(".Virtual_container").hide();
            jQuery("#chkVirtual").change(function () {
                if (this.checked) {
                    jQuery(".Virtual_container").show();
                    setKeyboardFocus("myform", "txtpwd");
                }
                else
                    jQuery(".Virtual_container").hide();
            });
            jQuery('#txtpwd').keydown(function (evt) {
                if (evt.which == 34 || evt.which == 37 || evt.which == 39 || evt.which == 43 || evt.which == 59 || evt.which == 92) {
                    return false;
                }
                return Check();
                return true;
            });
            function Check() {
                if (document.getElementById("chkVirtual").checked) {
                    return false;
                }
                else {
                    true;
                }
            }

            function Init() {
                setKeyboardFocus("myform", "txtpwd");
                if (document.getElementById("chkVirtual").checked) {
                    document.getElementById("divContent").disabled = false;
                }
                else {
                    document.getElementById("divContent").disabled = true;
                }
            }
            jQuery('#forgtpasswrd').hide();
            jQuery("#QuestionAnswerdiv").hide();
            jQuery(".checkSecurityAnswer").hide();
            jQuery("#checkuser").hide();
            jQuery("#sendpasswrd").hide();
            jQuery(".emptyuser").hide();
            jQuery('#cannotsend').hide();
            jQuery('#cannotsendSMS').hide();
            jQuery('#myform')[strTemp_atr]("autocomplete", "off");
           @*if (('@TempData["InvalidUser"]') != null && '@TempData["InvalidUser"]' != "") {
                jQuery("#checkuser").show();
                jQuery("#checkuser").parents(".divpop").addClass("vgerror");
                jQuery("#checkuser").parents(".divpop").find(".vgerrormsg").css("display", "none");
            }*@

            jQuery(document).on('click', '#captcha-txtbox .icon-refresh', function () {
                jQuery('#CaptchaInputText').val('');
                jQuery('.captchaPlaceholder').removeClass('placeholdertop')
                jQuery('.captcha-block').find('a').trigger('click');
            });
            var projectName = '@Project_name' != '' && '@Project_name' != null ? '@Project_name'.toLowerCase() : '';
            if (('@ViewData["Language"]' != null && '@ViewData["Language"]' != "1") || (projectName && projectName.indexOf('video') != -1)) {
                jQuery('.arvglang').removeClass('hide');
            }
        });
        function DrawVBK() {
            if (document.getElementById("chkVirtual").checked) {
                document.getElementById("divContent").disabled = false;
            }
            else {
                document.getElementById("divContent").disabled = true;
            }
        }
        function DeletePwd() {
            if (document.getElementById("chkVirtual").checked) {
                var strNumField = new String(document.getElementById("txtpwd").value);
                document.getElementById("txtpwd").value = strNumField.substring(0, strNumField.length - 1);
                return false;
                doRandomize();
            }
        }

        function ClearPwd() {

            if (document.getElementById("chkVirtual").checked) {
                document.getElementById("txtpwd").value = "";
                doRandomize();
            }
            return false;
        }
        //Added by srimathi for language path issue fixing work in back button...
        window.history.pushState(null, null, baseUrl);
        window.onbeforeunload = function (event) {
            window.history.pushState(null, null, baseUrl);
        }
        window.onpopstate = function () {
            window.history.pushState(null, null, baseUrl);
        }
        //End

        function noBack2() {
           if ('@Session["UserID"]' != null && '@Session["UserID"]' != "" && '@Session["UserID"]' != undefined)
            window.history.forward();
        }

        noBack2();
        window.onload = noBack2;
        window.onpageshow = function (evt) {
            if (evt.persisted)
                noBack2();
        }
        window.onunload = function () {
            void (0);
        }
        function forgetdiv() {
            jQuery(".bar").hide();
            var getaccname = encodeURIComponent(jQuery('#Username').val().trim())
            getaccname = sanitizeinput(getaccname);

            function sanitizeinput(getaccname) {
                var urlpattern = /^(https?:\/\/|www\.|javascript:)/i;
                var scriptpattern = /[<>\"\'\(\)\;`"]/;
                if (urlpattern.test(getaccname) || scriptpattern.test(getaccname)) {
                    return '';
                }
                return getaccname;
            }

            if (getaccname != "") {
                jQuery('#Errortag').hide();
                jQuery(".emptyuser").hide();
                jQuery(".checkSecurityAnswer").hide();
                LoadSecurity();
            }
            else {
                jQuery('.fade1').hide();
                jQuery('#Errortag').hide();
                jQuery("#QuestionAnswerdiv").hide();
                jQuery(".emptyuser").parents(".divpop").addClass("vgerror");
                jQuery(".emptyuser").show();
                jQuery("#checkuser").hide();
            }
            jQuery("#_straccname").val(getaccname)
        }
        function getquestion() {
            try {
            window[strTemp_sessionsto].removeItem("accname");
            window[strTemp_sessionsto].setItem("accname", jQuery("#Username").val());
            actionUrl = baseUrl + "Auth/getqus";
            $.ajax({
                type: 'POST',
                url: actionUrl,
                async: true,
                contentType: "application/json; charset=utf-8",
                headers: {
                    "accname_strtemp": window[strTemp_sessionsto].getItem("accname")
                },
                success: function (data, status, xhr) {
                    var usertext = jQuery("#Username").val().trim();
                     jQuery(".bar").show();
                    jQuery('.fade1').show();
                    jQuery("#checkuser").hide();
                    jQuery("#checkuser").parents(".divpop").removeClass("vgerror");
                    if (data == "UnauthorizedAccess") {
                        CustomNotify("Unauthorized Access", 'error');
                        jQuery('.newnotify').addClass('warning');
                         return false;
                    }
                   else if (data != "Failed") {
                        jQuery("#txtSecurity").val(data);
                        jQuery(".checkSecurityAnswer").hide();
                        jQuery("#checkuser").hide();
                        jQuery("#QuestionAnswerdiv .divpop").removeClass("vgerror");
                        jQuery(".box").children(".tembox_div").find(".vghide").hide();
                        jQuery("#QuestionAnswerdiv").show("slide", { direction: "right" }, 200);
                        jQuery(".vgerrormsg").hide();
                        var firstletter = usertext.charAt(0);
                        jQuery(".vgmailid span.vgdp").text(firstletter);
                        jQuery(".vgmailid #profileIdentifier").text(usertext);
                        jQuery(".vgLangs").hide();
                        jQuery(".UAEPassBtn").hide();  // Added by Ambareesh 20240704  For hide UAE button
                        jQuery("#checkuser").parents(".divpop").removeClass("vgerror");
                        return true;
                    }
                    else {
                        jQuery('.fade1').hide();
                        jQuery("#checkuser").show();
                        jQuery("#checkuser").parents(".divpop").addClass("vgerror");
                        jQuery("#checkuser").parents(".divpop").find(".vgerrormsg").css("display", "none");
                        jQuery("#QuestionAnswerdiv").hide();
                        jQuery(".ui-effects-wrapper").hide();
                        jQuery(".vghide").show();
                        jQuery(".vgLangs").show();
                        return false;
                    }
                },
                complete: function () {

                    async function _raf_login() {
                            var temp_msec = 300;
                            await delayAnimateCall(temp_msec, '_l1');
                            jQuery(".bar").hide();
                    }
                    _raf_login();
                },
                error: function (req, status, error) {
                }

            });
            }
            catch (ex) {
                console.log('Failed');
            }
        }
        function LoadSecurity() {
            jQuery(".checkSecurityAnswer").hide();
            getquestion();
        }
        jQuery(document).on("click", ".restacc", function () {
            var AnsValidation = jQuery("#txtSecurityAnswer").val();
            if (AnsValidation == "") {
                jQuery(".checkSecurityAnswer").hide();
                jQuery(".emptySecurityAnswer").show();
                jQuery("#sendpasswrd,#cannotsend,#cannotsendSMS").hide();
                jQuery(".emptySecurityAnswer").parents(".divpop").addClass("vgerror");
                jQuery(".forgothint").hide();
                return false;
            }
            else {
                jQuery(".emptySecurityAnswer").hide();
                jQuery("#QuestionAnswerdiv").show();
                jQuery(".forgothint").show();
                jQuery("#forgtpasswrd").hide();
            }
        });
        function closeevent() {
            jQuery("#Usernamedata").val("");
            jQuery("#txtSecurityAnswer").val("");
            jQuery("#QuestionAnswerdiv").hide();
            jQuery("#forgtpasswrd").hide();
            jQuery("#ErrorId").hide();
            jQuery(".checkSecurityAnswer").hide();
            jQuery(".emptySecurityAnswer").hide();
        }
        function errorhide() {
            jQuery(".emptyuser").hide();
            if (jQuery('#CaptchaInputText').length != 0)
                window[strTemp_localsto].captcha = jQuery('#CaptchaInputText').val();
        }
        jQuery(function () {
            jQuery('<td class="button"><button id="e" class="v_key" onmousedown="return changeToStar();" onmouseup="return changeBack();" onclick="return showValue(this);">%</button></td>').insertAfter(jQuery("table tr:nth-of-type(1) > td:nth-of-type(5)"));
        });
    </script>
    <script>
        var getValidateOTP = '@TempData["IsValidateOTP"]', getaccname = '@isaccname';
    </script>
</head>
@Html.AntiForgeryToken()

<body class="login skin-blue-light pace-done" id="logiOTP_control">
    <div class="pace  pace-inactive">
        <div data-progress="99" data-progress-text="100%" style="width: 100%;" class="pace-progress">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div class="wrapper" id="newlogin">

        <header class="header navbar navbar-fixed-top main-header" role="banner">

            <div class="container">
                @*21-04-2017(abdul):- wroked for  CentralMonitoringSolution without space issue*@
                @{
                    Session["LanguageId"] = Session["LanguageData"];
                }
                <img alt="logo" src="~/Themes/Greeno/ltr/assets/img/vg_logo_alter.png" class="MainImage">
            </div>


        </header>
        <div class="loginContent">
            <div style="font-size: 33px; color: #2F3C4D;">
            </div>
        </div>
        <div class="Logincontainer">
            <div class="loader">
                <div class="bar">
                </div>
            </div>
            <div class="box">
                <div class="content tembox_div">
                    @{using (Html.BeginForm("VerifyMFA", "Auth", FormMethod.Post, new { @id = "myform", @class = "form-vertical login-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="Human-icon vghide" style="overflow: hidden;">
                                <img src="~/CCMSIMAGES/LogoImages/9D5CA9DAF212B8D2/img/logo.jpeg" style="width: 45%; position: relative;">
                            </div>
                            if ((ViewBag.disablevgportallogin != "True" && ViewBag.enableuaepass == "True") || ViewBag.enableuaepass != "True")
                            {
                                <h3 class="form-title vghide">Sign in</h3>
                                <div class="divpop form-group vghide">
                                    <div class="input-icon usernameerror Vginputbox">
                                        @if (ViewData["accname"] == null || ViewData["accname"] == "")
                                        {
                                            @Html.TextBoxFor(m => m.accname, new { @class = "form-control loginusername user_name", id = "Username", autofocus = "", onfocus = "this.removeAttribute('readonly');", autocomplete = "off", name = "foilautofill", maxlength = "100" })
                                        }
                                        else
                                        {
                                            if (@TempData["NewloginAccount"] != null)
                                            {
                                                @Html.TextBoxFor(m => m.accname, new { @class = "form-control loginusername user_name", id = "Username", autofocus = "", onfocus = "this.removeAttribute('readonly');", autocomplete = "off", name = "foilautofill", maxlength = "100" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.accname, new { @class = "form-control loginusername user_name", value = "", id = "Username", autofocus = "", onfocus = "this.removeAttribute('readonly');", autocomplete = "off", name = "foilautofill", maxlength = "100" })
                                            }
                                        }
                                        <span class="field-validation-error emptyuser vgerrormsg" data-valmsg-replace="true" style="display: none"><i class="icon-exclamation-sign"></i>User name should not be empty</span>
                                        <div class="usernamePlaceholder" aria-hidden="true">Email or Username</div>
                                        <div class="Vgshadow"></div>
                                        <span class="field-validation-error" id="checkuser" style="display: none"><i class="icon-exclamation-sign"></i>Invalid user</span>
                                    </div>
                                </div>
                                <div class="divpop form-group vghide">
                                    <div class="input-icon Vginputbox">
                                        @Html.PasswordFor(m => m.acccode, new { @class = "form-control txtSanitize", id = "txtpwd", onfocus = "this.removeAttribute('readonly');", autocomplete = "off", name = "foilautofill", oncopy = "return false", onpaste = "return false", ondrag = "return false", ondrop = "return false", maxlength = "20" })


                                        <span class="field-validation-error vgpwdempty vgerrormsg" style="display: none"><i class="icon-exclamation-sign"></i>Password should not be empty</span>
                                        <div class="passwordPlaceholder" aria-hidden="true">Password</div>
                                        <div class="Vgshadow"></div>
                                        <div id="show-hide-pwd" onclick="myFunction()">
                                            <span id="show-pwd-img"><span id="show-hide-pwd-txt">Show password</span></span>
                                        </div>
                                    </div>
                                </div>
                                if (ViewBag.captcha == "True")
                                {
                                    <div class="divpop form-group vghide captcha-block">
                                        <div class="divpop form-group anprcmshide">
                                            <div class="inputbox capcha_main_container">
                                                <div class="capcha_imgbox CaptchaTag" id="captchaParent" style="text-align:center;"></div>
                                                <div class="captcha_refreshbox">
                                                    <div class="refresh_left_line"></div>
                                                    <span id="captcha-reload" class="refresh_img_box" onclick="Refreshcaptcha()">
                                                        <i class="icon-refresh" id="refresh_icon">
                                                            <span id="show-hide-captcha-txt">Refresh captcha</span>
                                                        </i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="divpop form-group vghide captcha-input-div">
                                            <div class="input-icon anprcmsinputbox Vginputbox">
                                                <input type="text" class="form-control txtHtmlSanitizer captcha" id="CaptchaInputText" style="height:57px" autofocus="" onfocus="this.removeAttribute('readonly');" autocomplete="off" name="foilautofill" oncopy="return false" onpaste="return false" ondrag="return false" ondrop="return false" maxlength="6" />
                                                <span class="field-validation-error vgcaptcha vgerrormsg"><i class="icon-exclamation-sign"></i><span class="txtcaptcha">Captcha should not be empty</span></span>
                                                <div class="captchaPlaceholder" aria-hidden="true">Captcha</div>
                                                <div class="Vgshadow"></div>
                                                <div class="Anprcmsshadow"></div>

                                            </div>
                                        </div>
                                    </div>
                                }
                                <div class="inner-box vghide">
                                    <div class="content">
                                        <div class="Login_forgot">
                                            <a href="#" id="forgot-acccode-link" onclick="javascript:forgetdiv();">Forgot Password?</a>
                                        </div>
                                        <button type="submit" name="submit" value="submit" class="submit btn btn-info pull-right" onclick="errorhide();">
                                            Sign in <i id="Arrow_Icon" class='icon-angle-right'></i>
                                        </button>
                                    </div>
                                </div>
                            }
                            if (ViewBag.enableuaepass == "True" && ViewBag.Condition == "CC_WITHECMS")
                            {
                                <div class="UAEPassBtn">
                                    @if (ViewBag.disablevgportallogin != "True")
                                    {
                                        <div class="UAE_hr_line"><span>OR</span></div>
                                    }
                                    <div class="UAE_Pass_img_box">
                                        <button name="AXN" id="UAEPASS" class="UAEPassBtn_img" value="026479728AE1518D">
                                            <div class="UAEbtn_text">
                                                <span class="UAEsignin_ico">
                                                    <img src="~/Themes/Greeno/images/UAEPASS_Logo_Only_Btn_Default_White_Active.svg" draggable="false"/>
                                                </span>
                                                <span>Sign in with UAE PASS</span>
                                            </div>
                                        </button>
                                    </div>
                                    <span class="field-validation-error" id="chkuae_error" data-valmsg-replace="true" style="display: none;"><i class="icon-exclamation-sign"></i><span id="UAEPASSErrMsg">Invalid UAE PASS</span></span>
                                </div>
                            }
                        }
                    }
                </div>
                @{using (Html.BeginForm("Forgotacccode", controllername, FormMethod.Post, new { @id = "myform1", @class = "form-vertical login-form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="QuestionAnswerdiv" style="display: none">
                            <div class="Human-icon">
                                <img src="~/CCMSIMAGES/LogoImages/9D5CA9DAF212B8D2/img/logo.jpeg" style="width: 45%; position: relative;">
                            </div>
                            <h3 class="form-title">Forgot Password</h3>
                            <div id="vghead_id">
                                <div class="vgmailid" tabindex="0" role="link">
                                    <div class="vgdp">
                                        <span class="vgdp"></span>
                                    </div>
                                    <div id="profileIdentifier"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(m => m.SecurityQuestionId, new { @class = "form-control", maxlength = "200", id = "txtSecurity", @readonly = "readonly" })
                            </div>
                            <div class="divpop form-group Vginputbox">

                                @Html.PasswordFor(m => m.SecurityAnswer, new { @class = "form-control forgotaccode_EnAr", maxlength = "100", id = "txtSecurityAnswer", ondrag = "return false", ondrop = "return false", oncopy = "return false", onpaste = "return false" })
                                <span class="field-validation-error vgfpwdempty vgerrormsg" style="display: none"><i class="icon-exclamation-sign"></i>User answer should not be empty</span>
                                <div class="forgotPlaceholder" aria-hidden="true">Enter answer</div>
                                <div class="Vgshadow"></div>
                                <span class="field-validation-error" id="sendpasswrd" style="display: none">Reset password link successfully sent to your mail</span>
                                <span class="field-validation-error" id="cannotsend" style="display: none"><i class="icon-exclamation-sign"></i>Cannot send password through email…Email settings is not configured</span>
                                <span class="field-validation-error" id="cannotsendSMS" style="display: none"><i class="icon-exclamation-sign"></i>Cannot send password through SMS…SMS settings is not configured</span>
                                <span class="field-validation-error" data-attr="@ViewBag.checkanswer" id="isforgot" style="display: none"></span>
                                <span class="field-validation-error" data-attr="@ViewBag.ForgetAccname" id="forgotaccnm" style="display: none"></span>
                                <div>
                                    <span class="field-validation-error emptySecurityAnswer" data-valmsg-for="SecurityAnswer" data-valmsg-replace="true" style="display: none"><i class="icon-exclamation-sign"></i>Answer should not be empty</span>
                                </div>
                                <div>
                                    <span class="field-validation-error checkSecurityAnswer" data-valmsg-for="SecurityAnswer" data-valmsg-replace="true" style="display: none"><i class="icon-exclamation-sign"></i>Answer you have provided is incorrect</span>
                                </div>
                            </div>

                            @Html.HiddenFor(m => m.accname, new { @id = "_straccname" })
                            <button type="button" id="prev" class="btn btn-primary btn-block">Back to Sign in</button>
                            <button type="submit" name="submit" value="submit" id="btnreset" class="btn btn-primary btn-block restacc">Reset</button>
                        </div>
                    }
                }

            </div>
        </div>
        <div class="vgLangs">
            <div class="vgvirtualkey">
                <div class="vglangdropdown">
                    <div class="vglangdrop">
                        <span>English</span>
                        <i class="icon-caret-down"></i>
                    </div>
                    <div class="vghideDrop">
                        <div class="vglang vgactive">
                            <span data-value="9D5CA9DAF212B8D2" data-isrtl="2FFACCD272C4BCDD">English  </span>
                        </div>
                        @if ((ViewData["Language"] != null && ViewData["Language"].ToString() != "1") || (Project_name == "Video Guard Portal"))
                        {

                        }
                        <div class="vglang arvglang hide">
                            <span data-value="2FFACCD272C4BCDD" data-isrtl="9D5CA9DAF212B8D2">العربية </span>
                        </div>
                    </div>
                </div>

                <div class="Login_virtual">
                    <input type="checkbox" class="uniform" name="remember" id="chkVirtual" onclick="javascript: DrawVBK();">
                    <label for="Virtual" class="lblclr">Virtual key</label>
                </div>
                <div class="Virtual_container">
                    <div class="VirtualHead">
                        Virtual Keyboard (For Entering Password Only)
                    </div>
                    <div class="VirtualKeydiv">
                        <div id="divContent" style="direction: ltr">
                            <script type="text/javascript">
                                document[strTemp_wte]('<table  width="100%" border="0" cellspacing="0" cellpadding="0" align="center">');
                                document[strTemp_wte]('	<tr>');
                                document[strTemp_wte]('		<td>');
                                document[strTemp_wte]('			<table width="100%" cellspacing="0" cellpadding="0" border="0" class="tblvirtualkey">');
                                document[strTemp_wte]('			<tbody>');
                                document[strTemp_wte]('				<tr>');
                                for (var i = 0; i < 13; i++) {

                                    document[strTemp_wte]('<td class="button">');
                                    LoadSpecialChars(i);

                                    document[strTemp_wte]('</td>');
                                }
                                document[strTemp_wte]('		<td class="button"></td>');

                                for (var i = 0; i < 3; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadNumbers(i);
                                    document[strTemp_wte]('</td>');
                                }

                                document[strTemp_wte]('				</tr>');
                                document[strTemp_wte]('				<tr>');

                                for (var i = 13; i < 26; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadSpecialChars(i);
                                    document[strTemp_wte]('</td>');
                                }
                                document[strTemp_wte]('		<td></td>');

                                for (var i = 3; i < 6; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadNumbers(i);
                                    document[strTemp_wte]('</td>');
                                }

                                document[strTemp_wte]('				</tr>');
                                document[strTemp_wte]('				<tr>');

                                for (var i = 0; i < 10; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadAlphabets(i);
                                    document[strTemp_wte]('</td>');
                                }
                                document[strTemp_wte]('							<TD class="button" colspan="3">');
                                document[strTemp_wte]('									<input value="Back" type="button"  class="backbutton"  onmouseup = "return changeBack();"');
                                document[strTemp_wte]('									onmousedown = "return changeToStar();" id="btnControl1"');
                                document[strTemp_wte]('									onclick = "return DeletePwd();" onmouseleave="return changeBack();"');
                                document[strTemp_wte]('									/>');
                                document[strTemp_wte]('                            </td>');

                                document[strTemp_wte]('		<td style="width:20px;"></td>');

                                for (var i = 6; i < 9; i++) {

                                    document[strTemp_wte]('<td class="button">');
                                    LoadNumbers(i);
                                    document[strTemp_wte]('</td>');
                                }
                                document[strTemp_wte]('				</tr>');
                                document[strTemp_wte]('				<tr>');

                                for (var i = 10; i < 19; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadAlphabets(i);
                                    document[strTemp_wte]('</td>');
                                }

                                document[strTemp_wte]('									<td class="button" colspan="4">');
                                document[strTemp_wte]('									<input type="button" value="Clear" class="clearbutton" colspan="4"  onmouseup = "return changeBack();"');
                                document[strTemp_wte]('									onmousedown = "return changeToStar();" id="btnControl2"');
                                document[strTemp_wte]('									onclick = "return ClearPwd();" onmouseleave="return changeBack();"');
                                document[strTemp_wte]('									/>');
                                document[strTemp_wte]('									</td>');


                                document[strTemp_wte]('		<td></td>');
                                document[strTemp_wte]('		<td></td>');

                                for (var i = 9; i < 10; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadNumbers(i);
                                    document[strTemp_wte]('</td>');
                                }
                                document[strTemp_wte]('		<td></td>');

                                document[strTemp_wte]('				</tr>');
                                document[strTemp_wte]('				 <tr>');

                                for (var i = 19; i < 26; i++) {
                                    document[strTemp_wte]('<td class="button">');
                                    LoadAlphabets(i);
                                    document[strTemp_wte]('</td>');
                                }

                                document[strTemp_wte]('									<td  class="button" colspan="4">');
                                document[strTemp_wte]('									<input type="button" class="capslockbutton" value="Caps Lock" onmouseup = "return changeBack();"');
                                document[strTemp_wte]('									onmousedown = "return changeToStar();" id="btnControl0"');
                                document[strTemp_wte]('									onclick = "return setCase();" onmouseleave="return changeBack();"');
                                document[strTemp_wte]('									 />');
                                document[strTemp_wte]('									</td>');

                                document[strTemp_wte]('									<td class="button" colspan="2">');
                                document[strTemp_wte]('									<input type="button" value="Space" class="mixedbutton"   onmouseup = "return changeBack();"');
                                document[strTemp_wte]('									onmousedown = "return changeToStar();" id="elemSpace"');
                                document[strTemp_wte]('									onclick = "return showValue(this);" onmouseleave="return changeBack();"');
                                document[strTemp_wte]('									/>');
                                document[strTemp_wte]('									</td>');

                                document[strTemp_wte]('		<td></td>');

                                document[strTemp_wte]('									<td class="button shuffle" colspan="3" onclick = "return setShuffle()";>');
                                document[strTemp_wte]('									<input type="button" value="Shuffle On" class="mixedbutton"   onmouseup = "return changeBack();"');
                                document[strTemp_wte]('									onmousedown = "return changeToStar();" id="btnControl3"');
                                document[strTemp_wte]('									onclick = "return setRandom()"; onmouseleave="return changeBack();"');
                                document[strTemp_wte]('									/>');
                                document[strTemp_wte]('									</td>');

                                document[strTemp_wte]('				</tr>');
                                document[strTemp_wte]('				</tbody>');
                                document[strTemp_wte]('				</table>');
                                document[strTemp_wte]('				</td>');
                                document[strTemp_wte]('				</tr>');
                                document[strTemp_wte]('				</table>');
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        table tr:nth-of-type(1) > td:nth-of-type(15) {
            display: none;
        }

        #close_btn #close_btn-txt {
            visibility: hidden;
            width: 54px;
            background: rgba(97,97,97,0.902);
            color: #FFFFFF;
            text-align: center;
            position: absolute;
            right: 2px;
            font-size: 14px;
            padding: 5px 8px 5px;
            z-index: 5000;
            border-radius: 2px;
            top: 39px;
            opacity: 0;
            -webkit-transform: scale(0,0.5) translateY(-50px);
            transform: scale(0,0.5) translateY(-50px);
            -webkit-transition: opacity 70ms linear;
            transition: opacity 70ms linear;
        }

        #close_btn:hover #close_btn-txt {
            visibility: visible;
            opacity: 1;
            pointer-events: none;
            -webkit-transform: scale(1,1) translateY(0);
            transform: scale(1,1) translateY(0);
            -webkit-transition: transform 200ms cubic-bezier(0.24,1,0.32,1),opacity 50ms linear;
            transition: transform 200ms cubic-bezier(0.24,1,0.32,1),opacity 50ms linear;
        }

        #close_btn-icon:before {
            font-size: 24px;
            font-family: 'Material Icons';
            content: "\e5cd";
            color: #636060;
        }
    </style>

    <script>
        jQuery(function () {
            jQuery(".VirtualKeydiv table tbody tr td.button").on("click", function () {
                if (jQuery(".shuffle")[0].children[0].defaultValue == "Shuffle Off") {
                    jQuery("table tr:nth-of-type(1) > td:nth-of-type(6) button")[0][strTemp_innhtm]= ";";
                }
                else {
                    jQuery("table tr:nth-of-type(1) > td:nth-of-type(6) button")[0][strTemp_innhtm]= "%";
                }
            });
            jQuery(document).on("mouseup", ".VirtualKeydiv table tbody tr td", function () {
                changeBack();
            });
            var invalidCaptchaTxt = 'Please enter valid captcha';
            jQuery('.txtcaptcha').text(invalidCaptchaTxt)
        });
        //captcha start
        var Captchachange = ['CaptchaFormat-1', 'CaptchaFormat-2', 'CaptchaFormat-3', 'CaptchaFormat-4', 'CaptchaFormat-5', 'CaptchaFormat-6', 'CaptchaFormat-7', 'CaptchaFormat-8'];
        var Code;
        var i = 0;
        var randomCaptchaImg = Captchachange[0];
        var Selected = 'CaptchaFormat-1';
        function Refreshcaptcha() {
            if (i == 3) {
                i = 0;
            }
            randomCaptchaImg = Captchachange[i++];
            Selected = Captchachange[0];
            CaptchaCall();
            jQuery('#CaptchaInputText').val('');
            captchavalue = '';
        }
        function CaptchaCall() {
            document.querySelectorAll('.CaptchaTag')[0][strTemp_innhtm]= "";
            var CAptchaText = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'];
            var count = [1, 2, 3, 4, 5, 6];
            var CAPTCHA = [];
            for (var i = 0; i < 6; i++) {
                var Getindex = Math.floor(Math.random() * CAptchaText.length - 1);
                if (Getindex != -1) {
                    if (CAPTCHA.indexOf(CAptchaText[Getindex] == -1)) {
                        CAPTCHA.push(CAptchaText[Getindex]);
                    }
                    else {
                        i--;
                    }
                }
                else {
                    i--;
                }
            }
            var CANV = document.createElement('canvas');
            CANV.id = "captcha";
            CANV.width = 222;
            CANV.height = 54;
            CANV.style.letterSpacing = '2px';
            var ctx = CANV.getContext("2d");
            if (Selected == "CaptchaFormat-1") {
                var Imagestrock = new Image();
                Imagestrock.onload = function () {
                    ctx.font = "Italic 400 30px cursive";
                    ctx.drawImage(Imagestrock, 0, 0, 222, 54);//ctx.drawImage(captchasrc, 0, 0);
                    ctx.textBaseline = 'middle';
                    ctx.fill();
                    ctx.textAlign = "center";
                    ctx.strokeStyle = '#000';
                    ctx.lineWidth = 2.2;
                    ctx.strokeText(CAPTCHA.join(""), 110, 31);

                }
                Imagestrock[strTemp_src] = baseUrl + "Themes/Greeno/images/captcha/CaptchaImg1.png";
            }
            Code = CAPTCHA.join("");
            var divElement = jQuery(document.querySelectorAll('.CaptchaTag'))
            divElement[strTemp_apnd](CANV);
        };
        if ('@ViewBag.captcha' == "True") {
            CaptchaCall();
        }

        function ChangeCaptchaStyle() {
            CaptchaCall();
        }
    </script>
</body>
</html>
